{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<div class="container-fluid">

    <h2 class="m-3">préstation</h2>

    <table class="table col-lg-4 col-md-6 col-11 m-4 p-3 shadow">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ service.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}" class="btn btn-lg m-3" id="btn-connexion">Retour à la liste</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-lg m-3" id="btn-connexion">Editer</a>
</div>
    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
